{% extends 'base.html.twig' %}

{% block title %}Fiche d'un type{% endblock %}

{% block body %}

    <h1>{{ Locality.localities|capitalize }}</h1>

    <nav><a href="{{ path('locality_index') }}">Retour à l'index</a></nav>

{% endblock %}
