{% extends 'base.html.twig' %}

{% block title %}Liste des roles {% endblock %}

{% block body %}

    <h1>{{ role.role}}</h1>
   <nav><a href="{{ path('role_index') }}">Retour à l'index</a></nav>

{% endblock %}